# Mac
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

# BEGIN EDITING BELOW
# ======================

node_modules
.next
tmp
migrate

# Keep credentials out of the repo
.env
.env.*
!.env.*.*
